img {
    height: 400px;
    width: 350px;
    padding: 0.2%;
}
h1{
     color: rgb(118, 9, 118);
     text-align: center;
     font-weight: bold;
}

a{
    font-weight: bold;
}

a:hover{
    color: white;
    
    
}
